services:
  web:
    build: ./backend
    container_name: backend
    env_file:
      - .env
    volumes:
      - ./backend:/app
    depends_on:
      - db
    extra_hosts:
      - "localhost:127.0.0.1"

  db:
    image: postgres:16.2-alpine3.19
    container_name: db
    env_file:
      - .env
    volumes:
      - pgdb:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}

  frontend:
    image: nginx:1.27.1-alpine
    container_name: frontend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - web
    ports:
      - "8080:80"  # host:container tout cequi pqrt de 8080 va sur le 80 de nginx

volumes:
  pgdb: