{% load static %}
<nav id="nav" class="navbar navbar-expand-md fixed-top navbar-transparency navbar-light">
    <div class="container">
        <div style="position: fixed; top: 0; left: 0; margin: 1vh; padding: 0; z-index: 1000;">
            <a class="navbar-brand" href="#" style="color: var(--bs-body-bg);"><img src="{% static 'users/images/42_Logo.svg.png' %}"></a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
		</div>
        
        <div class="collapse navbar-collapse" id="navcol-1" style="right: 3vw; top: 0; padding: 0; z-index: 1000; position: fixed;">
            <ul class="navbar-nav ms-auto" style="display: flex; align-items: center; gap: 20px;">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <button class="nav-link" id="pong-button" hx-get="{% url 'game:gameChoice' %}" hx-target="#nav" hx-swap="afterend" 
                                style="color: var(--bs-body-bg); font-size: 20px; background: none; border: none; padding: 0; cursor: pointer;">Games</button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}" id="home-link" style="color: var(--bs-body-bg); font-size: 20px;">Home</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <button class="nav-link" id="pong-button" hx-get="{% url 'game:gameChoice' %}" hx-target="#nav" hx-swap="afterend" 
                                style="color: var(--bs-body-bg); font-size: 20px; background: none; border: none; padding: 0; cursor: pointer;">Games</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="login-button" hx-get="{% url 'users:login' %}" hx-target="#nav" hx-swap="afterend" 
                                style="color: var(--bs-body-bg); font-size: 20px; background: none; border: none; padding: 0; cursor: pointer;">Login</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="register-button" hx-get="{% url 'users:register' %}" hx-target="#nav" hx-swap="afterend" 
                                style="color: var(--bs-body-bg); font-size: 20px; background: none; border: none; padding: 0; cursor: pointer;">Register</button>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
