{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
     <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>transcendence</title>
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'users/images/42_logo.svg.png' %}">
    <link rel="stylesheet" href="{% static 'users/styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'users/styles/fixed-navbar-starting-with-transparency-styles.css' %}">
    <link rel="stylesheet" href="{% static 'users/styles/untitled.css' %}">
	<link rel="stylesheet" href="{% static 'users/styles/style.css' %}">
</head>

<body style="height: 100vh;"><img src="{% static 'users/images/Border-Glow-Light-Effect-PNG-Clipart.svg' %}" style="width: 100%;height: 100%;">
    {% block content %}
    {% endblock %}
</body>

</html>