{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="auth-form" style="padding-top: 150px;">
    <div class="border rounded shadow login-center" style="width: 80%; margin: 5vh auto; padding: 20px; max-width: 600px; height: 60%; min-height: 300px; background: var(--bs-secondary-text-emphasis);">
        <div class="text-center form-group mb-3">
            <img src="{% static 'users/images/Login.png' %}" class="img-fluid" style="width: 100px;">
        </div>

        <form action="{{ request.path }}" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group mb-3" style="width: 50%; margin: 0 auto;">
                    {{ field }}
                    {% if field.name == 'username' and 'register' in request.path %}
                        <div id="username-check" class="form-text" style="color: green;">
                            <!-- Le message de vérification s'affiche ici -->
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
    
            <div class="d-flex justify-content-center form-group mb-3">
                <button type="submit" class="btn btn-primary">
                    {% if 'login' in request.path %}Login{% else %}Register{% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
