{% extends 'base.html' %}
{% load static %}
{% block content %}
<container id="profilePage">
    <div class="container-fluid d-flex flex-row">
        <div class="col-35">
            <div class="search-bar mb-4">
				<input id="friendInput" type="text" class="form-control" placeholder="Ajoutez un ami!" name="friend"
					hx-post="{% url 'users:addFriend' %}"
					hx-target="this"
					hx-trigger='keyup[key=="Enter"] from:body'
					hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    				hx-include="#friendInput"
					hx-swap="outerHTML">

			</div>

            <!-- Image de profil cliquable pour changer la photo -->
			<div class="image text-center profile-image-container" onclick="document.getElementById('uploadImage').click()">
			<img id="profileImage" 
				src="
					{% if user.profilePhoto %}
						{{ user.profilePhoto.url }}
					{% else %}
						{% static 'users/images/randy.jpg' %}
					{% endif %}" 
				alt="Image de profil">
			</div>
			<input type="file" accept="image/*" id="uploadImage" name="image" style="display: none;" onchange="previewImage(event)" class="btn btn-primary mt-3" 
				hx-post="{% url 'users:updateImage' %}"
				hx-target="#profileImage"
				hx-swap="outerHTML"
				hx-include="#uploadImage"
				hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
				hx-encoding="multipart/form-data">
			<div class="pseudo mt-4">
				<input type="text" id="pseudoInput" name="pseudo" class="form-control mb-3" placeholder="Entrez votre pseudo" value="{{ user.username }}">
				<button class="btn btn-primary" 
					hx-post="{% url 'users:updatePseudo' %}"
					hx-target="#displayPseudo"
					hx-swap="innerHTML"
					hx-include="#pseudoInput"
					hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
					Enregistrer Pseudo
				</button>
			</div>
			<div id="displayPseudo" class="mt-3"></div>
            <div class="stats mt-4"> 
                <div class="Matchs">Matchs : <span id="matchs">0</span></div>
                <div class="win">Win : <span id="win">0</span></div>
                <div class="lose">Lose : <span id="lose">0</span></div>
            </div>
        </div>
        <div class="col-65">
            <div class="title">- Match history -</div>

            <div id="historique">
                <!-- affichage des parties -->
            </div>
        </div>
    </div>
</container>
{% endblock content %}