{% load static %}
    <div class="body" style="padding-top: 150px;">
        <div class="border rounded shadow login-center" style="width: 80%;margin: 5vh auto;padding: 20px;max-width: 600px;height: 60%;min-height: 300px;background: var(--bs-secondary-text-emphasis);">
            <div class="text-center form-group mb-3"><img class="img-fluid" style="width: 100px;" src="{% static 'users/images/Login.png' %}"></div>
            <form method="post" hx-post="{% url 'users:register' %}" hx-on="htmx:afterRequest: handleRedirect(event)" style="padding-top: 32px;">
                {% csrf_token %}
                {% for field in form %}
                    <div class="d-flex justify-content-center form-group mb-3">
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-center form-group mb-3">
                    <button class="btn btn-dark" style="width: 200px;" button="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
