{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="tournament-bracket">
    <div class="round">
        {% for player in players %}
            {% if forloop.counter0|divisibleby:2 %}
                <!-- Si l'index est pair, crée une nouvelle balise 'match' -->
                <div class="match-container">
                    <!-- <div class="match"> -->
            {% endif %}
                <div class="player">
                    {{ player.name }} <span class="score">{{ player.score }}</span>
                </div>

            {% if forloop.counter0|divisibleby:2 != 1 %}
                <!-- Si i est impair (forloop.counter0), on ferme la balise 'match' -->
                    <!-- </div> -->
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- ROUND II -->
    <div class="round">
        {% for player in players %}
            {% if forloop.counter0|divisibleby:2 %}
                <!-- Si l'index est pair, crée une nouvelle balise 'match' -->
                <div class="match-container">
                    <!-- <div class="match"> -->
            {% endif %}
                <div class="player">
                    {{ player.name }} <span class="score">{{ player.score }}</span>
                </div>

            {% if forloop.counter0|divisibleby:2 != 1 %}
                <!-- Si i est impair (forloop.counter0), on ferme la balise 'match' -->
                    <!-- </div> -->
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}