{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>

<container id="gameChoice">
<div class="content">
    <h1 class="game-title">{% trans "Time to play!" %}</h1>
        <div class="boxes-container">
            <div class="box box1">
                <img src="{% static 'game/images/pong2.jpg' %}" hx-get="{% url 'game:optionsPong' %} " hx-target="#gameChoice" hx-swap="outerHTML">
            </div>
            <div class="box box2">
                <img src="{% static 'game/images/casseBrick2.jpg' %}" hx-get="{% url 'game:optionsBreakout' %} " hx-target="#gameChoice" hx-swap="outerHTML">
            </div>
        </div>
    </div>
</container>
{% endblock content %}
