{% load static %}
<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<!-- <head> -->
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <title>Choix des jeux</title> -->
    <!-- <link rel="stylesheet" href="{% static 'game/styles/background.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'game/styles/gameChoice.css' %}"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="{% static 'user/styles/fixed-navbar-starting-with-transparency-styles.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'game/styles/bootstrap.min.css' %}"> -->
<!--  -->
<!-- </head> -->
<!-- <body> -->
    <container id="gameChoice">
    <!-- <link rel="stylesheet" href="{% static 'game/styles/background.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'game/styles/gameChoice.css' %}"> -->
    <div class="animated-bg"></div>
    <canvas id="star-canvas"></canvas>
    <div class="content">
        <h1 class="game-title">Time to play!</h1>
            <div class="boxes-container">
                <div class="box box1">
                    <img src="{% static 'game/images/pong2.jpg' %}" hx-get="{% url 'game:optionsPong' %} " hx-target="#nav" hx-swap="afterend">
                    <!-- rajouter onclick ici -->
                </div>
                <div class="box box2">
                    <img src="{% static 'game/images/casseBrick2.jpg' %}" hx-get="{% url 'game:optionsBreakout' %} " hx-target="#nav" hx-swap="afterend">
                    <!-- rajouter onclick ici -->
                </div>
            </div>
        </div>
        <!-- <script src="{% static 'game/scripts/optionsGames.js' %}" defer></script> -->
        <!-- <script src="{% static 'game/scripts/DrawStars.js' %}" defer></script> -->
        <!-- <script src="{% static 'users/scripts/jQuery.js' %}" defer></script> -->
        <!-- <script src="{% static 'users/scripts/bootstrap.min.js' %}" defer></script> -->
        <!-- <script src="{% static 'users/scripts/Fixed-navbar-starting-with-transparency-script.js' %}" defer></script> -->
    <!-- </container> -->
<!-- </body> -->
<!-- </html> -->
