<container id="gameOption">
<div class="content">
<div class="container py-5">
<h1 class="mb-4-title">Options</h1>

<div class="card mb-4">
	<div class="card-body">
		<h5 class="card-title">Joueurs</h5>
		<div id="players-container">
			<div class="player-input mb-3">
				<div class="input-group">
					<span class="input-group-text">Player 1</span>
					<input type="text" class="form-control player" placeholder="{{user.username}}" value="{{user.username}}" disabled>
					<input type="color" class="form-control form-control-color" value="#ff0000" title="Choisir la couleur">
				</div>
			</div>
		</div>
		<div class="btn-group" role="group">
			<button class="btn btn-primary" onclick="addPlayer()">
				<i class="fas fa-plus"></i> Add player
			</button>
			<div class="btn-group" role="group">
				<button 
					type="button" 
					class="btn btn-primary dropdown-toggle" 
					data-bs-toggle="dropdown" 
					aria-expanded="false">
					<i class="fas fa-plus"></i> Add friend
				</button>
				<ul class="dropdown-menu" id="friend-dropdown">
					{% include 'partials/dropdownFriend.html' with friends=friendsList %}
				</ul>
			</div>
			<button class="btn btn-danger" onclick="removePlayer()">
				<i class="fas fa-minus"></i> Delete player
			</button>
		</div>
	</div>
</div>

<div class="card mb-4">
	<div class="card-body">
		<h5 class="card-title">Options de jeu</h5>
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="bonusSwitch">
			<label class="form-check-label" for="bonusSwitch">Activer les bonus</label>
		</div>
	</div>
</div>
{% block content %}
{% endblock %}
</div>
</container>
<script>
	function shufflePlayer() {
    let listPlayer = Array.from(document.querySelectorAll('.player'));
    // Convertir les inputs en objets joueurs
    listPlayer = Array.from(listPlayer).map((input, index) => ({
        name: input.value || 'Player' + (index + 1),
        score: [0, 0, 0, 0],
        round: 0,
		win : 0,
		loose : 0,
		isIa: 0
    }));

    // Ajouter des IA si le nombre nest pas une puissance de 2
	if (listPlayer.length === 1) {
		listPlayer.push({
			name: 'IA1',
			score: [0, 0, 0, 0],
			round: 0,
			win: 0,
			loose: 0,
			isIa: 1
		});
	} else if (![2, 4, 8].includes(listPlayer.length)) {
		const targetLength = Math.pow(2, Math.ceil(Math.log2(listPlayer.length)));
		for (let i = listPlayer.length; i < targetLength; i++) {
			listPlayer.push({
				name: 'IA' + (i - listPlayer.length + 1),
				score: [0, 0, 0, 0],
				round: 0,
				win: 0,
				loose: 0,
				isIa: 1
			});
		}
	}

    // Mélanger la liste
    for (let i = listPlayer.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [listPlayer[i], listPlayer[j]] = [listPlayer[j], listPlayer[i]];
    }
	
	let bonus = document.getElementById('bonusSwitch').checked;
	console.log('bonus = ', bonus);
	if (bonus)
		isBonus = true;
    return JSON.stringify(listPlayer);
}
</script>