{% load i18n %}
{% load static %}
<container id="gameOption">
<div class="content">
<div class="container py-5">
<h1 class="mb-4-title">{% trans "Options" %}</h1>

<div class="card mb-4">
	<div class="card-body">
		<h5 class="card-title">{% trans "Players" %}</h5>
		<div id="players-container">
			<div class="player-input mb-3">
				<div class="input-group">
					<span class="input-group-text">{% trans "Player 1" %}</span>
					<input type="text" class="form-control player" placeholder="{{user.username}}" value="{{user.username}}" disabled>
					<input type="color" class="form-control form-control-color" value="#ff0000" title="{% trans "Choose color" %}">
				</div>
			</div>
		</div>
		<div class="btn-group" role="group">
			<button class="btn btn-primary" onclick="addPlayer()">
				<i class="fas fa-plus"></i> {% trans "Add player" %}
			</button>
			<div class="btn-group" role="group">
				<button 
					type="button" 
					class="btn btn-primary dropdown-toggle" 
					data-bs-toggle="dropdown" 
					aria-expanded="false">
					<i class="fas fa-plus"></i> {% trans "Add friend" %}
				</button>
				<ul class="dropdown-menu" id="friend-dropdown">
					{% include 'partials/dropdownFriend.html' with friends=friendsList %}
				</ul>
			</div>
			<button class="btn btn-danger" onclick="removePlayer()">
				<i class="fas fa-minus"></i> {% trans "Delete player" %}
			</button>
		</div>
	</div>
</div>

<div class="card mb-4">
	<div class="card-body">
		<h5 class="card-title">{% trans "Game options" %}</h5>
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="bonusSwitch">
			<label class="form-check-label" for="bonusSwitch">{% trans "Enable bonuses" %}</label>
		</div>
	</div>
</div>
{% block content %}
{% endblock %}
</div>
</container>
<script>
	function shufflePlayer() {
    let listPlayer = Array.from(document.querySelectorAll('.player'));
	let color = Array.from(document.querySelectorAll('.form-control-color'));
    // Convertir les inputs en objets joueurs
	listPlayer = Array.from(listPlayer).map((input, index) => {
		fixInput(input);
		return {
			name: input.value || 'Player' + (index + 1),
			score: [0, 0, 0, 0],
			round: 0,
			win: 0,
			loose: 0,
			isIa: 0,
			color: color[index].value
		};
	});

	console.log('listPlayer = ', listPlayer);
    // Ajouter des IA si le nombre nest pas une puissance de 2
	if (listPlayer.length === 1) {
		listPlayer.push({
			name: '{% trans "IA1" %}    ',
			score: [0, 0, 0, 0],
			round: 0,
			win: 0,
			loose: 0,
			isIa: 1,
			color: '#ff0000'
		});
	} else if (![2, 4, 8].includes(listPlayer.length)) {
		const targetLength = Math.pow(2, Math.ceil(Math.log2(listPlayer.length)));
		for (let i = listPlayer.length; i < targetLength; i++) {
			listPlayer.push({
				name: '{% trans "IA" %}' + (i - listPlayer.length + 1),
				score: [0, 0, 0, 0],
				round: 0,
				win: 0,
				loose: 0,
				isIa: 1,
				color: '#ff0000'
			});
		}
	}

    // Mélanger la liste
    for (let i = listPlayer.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [listPlayer[i], listPlayer[j]] = [listPlayer[j], listPlayer[i]];
    }
	let bonus = document.getElementById('bonusSwitch').checked;
	if (bonus)
		isBonus = true;
    return JSON.stringify(listPlayer);
}


		    window.addEventListener('popstate', function(event) {
        // Récupérer l'URL actuelle
        const currentPath = window.location.pathname;
        
        // Vérifier si l'URL correspond à /gameOption/
        if (currentPath.startsWith('/gameOption/')) {
            // Effectuer un GET vers la vue gameOption
            htmx.ajax('GET', currentPath, '#content');
        }
    });
	    window.addEventListener('popstate', function(event) {
        // Récupérer l'URL actuelle
        const currentPath = window.location.pathname;
        
        // Vérifier si l'URL correspond à /gameOption/
        if (currentPath.startsWith('/gameOption/')) {
            // Effectuer un GET vers la vue gameOption
            htmx.ajax('GET', currentPath, '#content');
        }
    })
	    window.addEventListener('popstate', function(event) {
        // Récupérer l'URL actuelle
        const currentPath = window.location.pathname;
        
        // Vérifier si l'URL correspond à /gameOption/
        if (currentPath.startsWith('/gameOption/')) {
            // Effectuer un GET vers la vue gameOption
            htmx.ajax('GET', currentPath, '#content');
        }
    });
// trunc the name if up to 7 characters and add '.' if its to long or add space up to 7 characters if its to short
function fixInput(input) {
	if (input.value.length > 7) {
		input.value = input.value.slice(0, 7) + '.';
	} else {
		input.value = input.value.padEnd(7, ' ');
	}
	return input;
}

</script>
