body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animated-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #1b1eca, #05011a, #9b2f20, #0f015e, #03002b);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
    z-index: 1;
}

#star-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}