.tournament-bracket {
    display: flex;
    padding: 20px;
    z-index: 3;
    color: white;
    font-family: Arial, sans-serif;
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    margin: 0 20px;
}

.match {
    position: relative;
    margin: 15px 0;
    height: 80px;
}

.match-container {
    border: 2px solid #444;
    border-radius: 5px;
    background: rgba(30, 30, 30, 0.9);
    height: 100%;
}

.player {
    padding: 10px;
    border-radius: 3px;
}

.player:first-child {
    border-color: #ff4500;
    box-shadow: 0 0 20px #ff4500;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #444; 
}

.winner {
    border-color: #09ff00;
    box-shadow: 0 0 20px #09ff00;
	margin-left: 15px;
	margin-right: 15px;
}

.connector {
    position: absolute;
    right: -20px;
    top: 50%;
    width: 20px;
    height: 2px;
    background: #444;
}

.connector::after {
    content: '';
    position: absolute;
    right: 0;
    height: 50px;
    width: 2px;
    background: #444;
    transform: translateY(-50%);
}

.match:nth-child(even) .connector::after {
    top: 50%;
}

.match:nth-child(odd) .connector::after {
    top: 0;
}

.score {
    float: right;
    margin-right: 10px;
    color: #888;
}

.player:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.hideStatus {
    display: none;
}
