.content {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Arial, sans-serif;
    color: white;
    font-size: 2em;

	flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px; 
    box-sizing: border-box;
	min-height: 100vh;
}

.box {
    flex: 1 1 300px; 
    max-width: 30%; 
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    transition: border-color 0.5s, box-shadow 0.5s;
	border: 10px solid rgb(0, 0, 0.5);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
    margin-left: 60px;
    margin-right: 60px;

}

.box1:hover {
    border-color: #ff4500;
    box-shadow: 0 0 50px #ff4500;
}

.box2:hover {
    border-color: #1b0ed4;
    box-shadow: 0 0 50px #2307c0;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.game-title {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #fff;
    font-size: 5.5vw; 
    margin-bottom: 20px;
    text-shadow: 2px 20px 5px rgba(0, 0, 0, 0.7);
    margin-top: 35px;
    margin-right: 50px;
    margin-left: 50px;
    animation: pulse 2s infinite ease-in-out;
}