
.bracket-body {
    margin: 0;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tmp {
    display: flex;
    flex-direction: column;
}

.tournament-bracket {
    border: 10px solid #ff4500;
    box-shadow: 0 0 50px #ff4500;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80vh;
    width: 85vw;
    border-radius: 10px;
}

.round {

    display: flex;
    flex-direction: column;
    justify-content: center; /*hauteur*/
    align-items: center; /*horizon*/
}

.match-container {
    border: calc(0.5vh + 0.1vw) solid #2f00ff;
    box-shadow: 0 0 50px #2f00ff;
    margin: calc(0.3vh + 0.1vw);
}

.bracket-player {
    border: calc(0.5vh + 0.1vw) solid orange;
    margin: calc(0.3vh + 0.1vw);
    color : white;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(0, 0, 0, 0.459);
    font-size: calc(0.5vw + 0.5vh);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.score {
    border: calc(0.5vh + 0.1vw) solid purple;
    color: white;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(0, 0, 0, 0.459);
    font-size: calc(0.5vw + 0.5vh);
}

.continu-button {
    font-family: 'Press Start 2P', cursive;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none !important;
}

.continu-button:hover {
    background-color: transparent;
    color: white;
    border: 10px solid #ff4500;
    box-shadow: 0 0 50px #ff4500;
    border-radius: 10px;
}