.login-center {
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgba(255,255,255,0.64);
  min-height: 400px;
  position: relative;
  z-index: 3;
}


.register-input::placeholder {
  font-family: 'Quicksand';
}
