.theme-home {
    background: 
        radial-gradient(
            circle at bottom left, /* Premier dégradé centré en bas à gauche */
            #04154d 0%, 
            rgba(10, 32, 106, 0.661) 20%,  
            #051650ee 60%
        ),
        radial-gradient(
            circle at top right, /* Deuxième dégradé centré en haut à droite */
            #01113fc7 0%, 
            rgba(2, 22, 87, 0.814) 20%,  
            #05164c 70%
        );
    /* Ajustements pour remplir toute la fenêtre */
    /*background-color: #030e32; /* Couleur de fond par défaut si les dégradés ne couvrent pas toute la surface */
}

.theme-game {
    background: 
        radial-gradient(
            circle at bottom left, /* Premier dégradé centré en bas à gauche */
            #8CB174 0%, /* Vert Game Boy */
            rgba(140, 177, 116, 0.661) 10%,  /* Vert Game Boy transparent */
            #036a27a3 60%
        ),
        radial-gradient(
            circle at top right, /* Deuxième dégradé centré en haut à droite */
            #8CB174 0%, /* Vert Game Boy */
            rgba(140, 177, 116, 0.814) 30%,  /* Vert Game Boy transparent */
            #054c26e3 70%
        );
        background-repeat: repeat-x;
}

.hidden {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    /*de gauche a droite*/ ;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100%;
}button

h1 {
    font-size: 2.5em;
    margin: 0;
    color: #f5f5f5;
}

h2 {
    font-size: 1.5em;
    margin-left: 1em;
    color: #f5f5f5;
}

.Container {
    top: 10%;
  }
.button {
    border: none;
    display: block;
    width: 25vh;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #eeeeee;
    font-weight: 600;
    font-size: 15px;
    background-color: #153f00;
    padding: 15px 50px;
    margin: 0 auto;
  }
.button span {
    position: relative;
    z-index: 1;
  }
.button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: #8CB174;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-130%) translateY(-25%) rotate(45deg);
    transform: translateX(-130%) translateY(-25%) rotate(45deg);
  }
.button:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

#toggleAuth {
    display: block;
    text-align: center;
    margin-top: 10px;
}

/* 
    Enlever le btn et changer les codes couleurs selon la page
    Changer le background de la page d'accueil quand on appui sur le bouton
*/