.custom-background {
    background: linear-gradient(-156deg, black, rgb(0,12,122) 70%, rgb(0,5,53) 86%, black 100%);
}


.custom-container {
    background: transparent;
    width: 315px;
    position: absolute;
    margin-top: 540px;
    height: 82px;
}


.custom-h2 {
    font-size: 20px;
    color: var(--bs-body-bg);
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    position: absolute;
    margin-left: 6px;
}


.custom-h1 {
    font-family: 'Quicksand', sans-serif;
    color: var(--bs-body-bg);
    text-align: left;
    height: 63px;
    position: absolute;
    margin-top: 25px;
}
