{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
     <script src="https://unpkg.com/htmx.org@1.8.4" defer></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>transcendence</title>
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'users/images/42_logo.svg.png' %}">
    <link rel="stylesheet" href="{% static 'users/styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'users/styles/fixed-navbar-starting-with-transparency-styles.css' %}">
    <link rel="stylesheet" href="{% static 'users/styles/untitled.css' %}">
	<link rel="stylesheet" href="{% static 'users/styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/styles/login-form---Ambrodu-register.css' %}">
	<link rel="stylesheet" href="{% static 'users/styles/profile.css' %}">
	<link rel="stylesheet" href="{% static 'game/styles/background.css' %}">
	<link rel="stylesheet" href="{% static 'game/styles/gameChoice.css' %}">
	<link rel="stylesheet" href="{% static 'game/styles/options-pong.css' %}">
	<link rel="stylesheet" href="{% static 'game/styles/options-breakout.css' %}">
    <script src="{% static 'users/scripts/jQuery.js' %}" defer></script>
    <script src="{% static 'users/scripts/navigate.js' %}" defer></script>
    <script src="{% static 'users/scripts/bootstrap.min.js' %}" defer></script>
    <script src="{% static 'users/scripts/fixed-navbar-starting-with-transparency-script.js' %}" defer></script>
	<script src="{% static 'users/scripts/profile.js' %}" defer></script>
	<script src="{% static 'game/scripts/optionsGames.js' %}" defer></script>
	<script src="{% static 'game/scripts/DrawStars.js' %}" defer></script>
	<script src="{% static 'game/scripts/const.js' %}" defer></script>
	<script src="{% static 'game/scripts/gameLoader.js' %}" defer></script>
	<script src="{% static 'game/scripts/breakout.js' %}" defer></script>
	<script src="{% static 'game/scripts/pong.js' %}" defer></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body class="animated-bg" style="height: 100vh;">
	<canvas id="star-canvas"></canvas>
    {% include 'partials/navbar.html' %}
    {% block content %}
    {% endblock %}
</body>

</html>