{% extends 'base.html' %}
    {% load static %}
    {% block content %}
        <div class="container" style="background: transparent; position: absolute; bottom: 20px; left: 20px; width: auto; max-width: 90%; padding: 10px; overflow-wrap: break-word;">
            <h1 style="font-size: clamp(20px, 4vw, 30px); color: var(--bs-body-bg); font-family: Quicksand, sans-serif; text-align: left; margin-left: 0.6vw; margin-bottom: 0.5rem;">Time to play</h1>
            <h2 style="font-family: Quicksand, sans-serif; color: var(--bs-body-bg); margin-top: 25px; font-size: clamp(35px, 6vw, 55px); left: 2%; bottom: 2%; z-index: 1000;">Transcendence</h2>
        </div>
        {% include 'partials/navbar.html' %}
        <div> bonjour </div>
        <footer id="foot"></footer>
    {% endblock content %}